
	<form id="configs" method="post" action="{{ U_ACTION }}">								
		<fieldset>
			<legend><img src="{{ IMAGE_SETTINGS }}" alt="{{ lang('GENERAL_SETTINGS') }}" title="{{ lang('GENERAL_SETTINGS') }}" /> {{ lang('GENERAL_SETTINGS') }}</legend>
			<dl>
				<dt><label for="shout_title">{{ lang('SHOUT_CONFIG_TITLE') }}:</label><br />{{ lang('SHOUT_CONFIG_TITLE_EXPLAIN') }}</dt>
				<dd><input class="text small" type="text" id="shout_title" name="shout_title" value="{{ SHOUT_TITLE }}" maxlength="50" size="35" /></dd>
			</dl>
			<span class="separation"></span>
			<dl>
				<dt><label for="shout_width_post">{{ lang('SHOUT_WIDTH_POST') }}:</label><br />{{ lang('SHOUT_WIDTH_POST_PRO_EXPLAIN') }}</dt>
				<dd><input class="text small" type="text" id="shout_width_post" name="shout_width_post" value="{{ SHOUT_WIDTH_POST }}" maxlength="3" size="5" />&nbsp;{{ lang('SHOUT_PIXELS') }}</dd>
			</dl>
			<dl>
				<dt><label for="shout_non_ie_nr">{{ lang('SHOUT_NON_IE_NR') }}:</label></dt>
				<dd><input class="text small" type="text" id="shout_non_ie_nr" name="shout_non_ie_nr" value="{{ SHOUT_NON_IE_NR }}" maxlength="3" size="5" />&nbsp;{{ lang('SHOUT_MESSAGES') }}</dd>
			</dl>
			<dl>
				<dt><label for="shout_height">{{ lang('SHOUT_HEIGHT') }}:</label><br />{{ lang('SHOUT_HEIGHT_EXPLAIN') }}</dt>
				<dd><input class="text small" type="text" id="shout_height" name="shout_height" value="{{ SHOUT_HEIGHT }}" maxlength="3" size="5" />&nbsp;{{ lang('SHOUT_PIXELS') }}</dd>
			</dl>
			<span class="separation"></span>
			<dl>
				<dt><label for="shout_color_background">{{ lang('SHOUT_BACKGROUND_COLOR') }}:</label><br />{{ lang('SHOUT_BACKGROUND_COLOR_EXPLAIN') }}</dt>
				<dd><select id="shout_color_background" onchange="shoutbox.updateColor(this.options[selectedIndex].value,this.id);" name="shout_color_background" title="{SHOUT_BACKGROUND}">{{ COLOR_OPTION }}</select> {{ lang('SHOUT_APERCU') }}<img src="{{ COLOR_IMAGE }}" id="color_image" alt="{{ SHOUT_BACKGROUND }}" title="{SHOUT_BACKGROUND}" width="50" height="25" /></dd>
			</dl>
			<dl>
				<dt><label for="shout_button_background">{{ lang('SHOUT_BUTTON_BACKGROUND') }}:</label><br />{{ lang('SHOUT_BUTTON_BACKGROUND_EXPLAIN') }}</dt>
				<dd>{{ SHOUT_BUTTON }}</dd>
			</dl>
			<span class="separation"></span>
			<dl>
				<dt><label for="shout_bar_option">{{ lang('SHOUT_BAR') }}:</label><br />{{ lang('SHOUT_BAR_EXPLAIN') }}</dt>
				<dd>
					<select id="shout_bar_option" name="shout_bar_option">
						<option title="{{ lang('SHOUT_BAR_TOP') }}" value="1"{% if SHOUT_BAR_OPTION %} selected="selected"{% endif %}>{{ lang('SHOUT_BAR_TOP') }}</option>
						<option title="{{ lang('SHOUT_BAR_BOTTOM') }}" value="0"{% if not SHOUT_BAR_OPTION %} selected="selected"{% endif %}>{{ lang('SHOUT_BAR_BOTTOM') }}</option>
					</select>
				</dd>
			</dl>
			<dl>
				<dt><label for="shout_pagin_option">{{ lang('SHOUT_PAGIN') }}:</label><br />{{ lang('SHOUT_PAGIN_EXPLAIN') }}</dt>
				<dd>
					<select id="shout_pagin_option" name="shout_pagin_option">
						<option title="{{ lang('SHOUT_PAGIN_IN') }}" value="1"{% if SHOUT_PAGIN_OPTION %} selected="selected"{% endif %}>{{ lang('SHOUT_PAGIN_IN') }}</option>
						<option title="{{ lang('SHOUT_PAGIN_BOTTOM') }}" value="0"{% if not SHOUT_PAGIN_OPTION %} selected="selected"{% endif %}>{{ lang('SHOUT_PAGIN_BOTTOM') }}</option>
					</select>
				</dd>
			</dl>
			<span class="separation"></span>
			<dl>
				<dt><label for="shout_max_posts">{{ lang('SHOUT_MAX_POSTS') }}:</label><br />{{ lang('SHOUT_MAX_POSTS_EXPLAIN') }}</dt>
				<dd><input class="text small" type="text" id="shout_max_posts" name="shout_max_posts" value="{SHOUT_MAX_POSTS}" maxlength="4" size="5" />&nbsp;{{ lang('SHOUT_MESSAGES') }}</dd>
			</dl>
			<dl>
				<dt><label for="shout_max_posts_on">{{ lang('SHOUT_MAX_POSTS_ON') }}:</label><br />{{ lang('SHOUT_MAX_POSTS_ON_EXPLAIN') }}</dt>
				<dd><input class="text small" type="text" id="shout_max_posts_on" name="shout_max_posts_on" value="{SHOUT_MAX_POSTS_ON}" maxlength="4" size="5" />&nbsp;{{ lang('SHOUT_MESSAGES') }}</dd>
			</dl>
			<span class="separation"></span>
			<dl>
				<dt><label for="shout_prune">{{ lang('SHOUT_PRUNE_TIME') }}:</label><br />{{ lang('SHOUT_PRUNE_TIME_EXPLAIN') }}</dt>
				<dd><input class="text small" type="text" id="shout_prune" name="shout_prune" value="{SHOUT_PRUNE}" maxlength="3" size="5" />&nbsp;{{ lang('SHOUT_HOURS') }}</dd>
			</dl>
			<dl>
				<dt><label for="shout_on_cron">{{ lang('SHOUT_ON_CRON') }}:</label><br />{{ lang('SHOUT_ON_CRON_EXPLAIN') }}</dt>
				<dd>{{ SHOUT_ON_CRON }}</dd>
			</dl>
			<dl>
				<dt><label for="shout_log_cron">{{ lang('SHOUT_LOG_CRON') }}:</label><br />{{ lang('SHOUT_LOG_CRON_EXPLAIN') }}</dt>
				<dd>{{ SHOUT_LOG_CRON }}</dd>
			</dl>
		</fieldset>

		<fieldset class="centered">
			<legend class="left"><img src="{{ IMAGE_SUBMIT }}" alt="{{ lang('SUBMIT') }}" title="{{ lang('SUBMIT') }}" /> {{ lang('SUBMIT') }}</legend>
			{{ S_FORM_TOKEN }}
			<input class="button1" type="submit" id="submit" name="update" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		</fieldset>
	</form>
