{% INCLUDE 'simple_header.html' %}
{% INCLUDECSS '@sylver35_breizhshoutbox/shoutbox.css' %}

<audio id="shout_sound" class="no_display"></audio>
<div class="panel" id="all_shout">
	<div class="inner">
		
		<ul id="select_sound" class="topiclist forums ul_rules displayblock">
			<li>
				<form id="config_shout" method="post" action="{{ U_SHOUT_ACTION }}">
				<div id="div_config_shout" class="div_config_shout">
					<h3><img src="{{ SHOUT_EXT_PATH }}images/reglages.webp" width="35px" alt="{{ lang('SHOUT_PANEL_USER') }}" title="{{ lang('SHOUT_PANEL_USER') }}" /> {{ lang('SHOUT_PANEL_USER') }}</h3>

					<div id="info_new" name="info" class="centered {% if SOUND_NEW_DISP %}displayblock{% else %}no_display{% endif %}">
						<span class="shout_display_green">{{ lang('CHOOSE_NEW_YES') }} {{ lang('SHOUT_PRINCIPAL') }}: </span><strong>&ldquo;<span id="sound_new">{{ USER_SOUND_INFO }}</span>&rdquo;</strong>
					</div>
					<div id="info_no_new" name="info_no" class="centered {% if SOUND_NEW_DISP %}no_display{% else %}displayblock{% endif %}">
						<span class="shout_display_red">{{ lang('CHOOSE_NEW_NO') }} {{ lang('SHOUT_PRINCIPAL') }}</span><br />
					</div>
					{% if S_PRIVATE %}
					<hr class="shout_hr" />
					<div id="info_new_priv" name="info" class="centered {% if SOUND_NEW_PRIV_DISP %}displayblock{% else %}no_display{% endif %}">
						<span class="shout_display_green">{{ lang('CHOOSE_NEW_YES') }} {{ lang('SHOUT_PRIVATE') }}: </span><strong>&ldquo;<span id="sound_new_priv">{{ USER_SOUND_INFO_PRIV }}</span>&rdquo;</strong>
					</div>
					<div id="info_no_new_priv" name="info_no" class="centered {% if SOUND_NEW_PRIV_DISP %}no_display{% else %}displayblock{% endif %}">
						<span class="shout_display_red">{{ lang('CHOOSE_NEW_NO') }} {{ lang('SHOUT_PRIVATE') }}</span><br />
					</div>
					{% endif %}
					<hr class="shout_hr" />
					<div id="info_error" class="centered {% if SOUND_ERROR_DISP %}displayblock{% else %}no_display{% endif %}">
						<span class="shout_display_green">{{ lang('CHOOSE_ERROR_YES') }}: </span><strong>&ldquo;<span id="sound_error">{{ USER_SOUND_INFO_E }}</span>&rdquo;</strong>
					</div>
					<div id="info_no_error" class="centered {% if SOUND_ERROR_DISP %}no_display{% else %}displayblock{% endif %}">
						<span class="shout_display_red">{{ lang('CHOOSE_ERROR_NO') }}</span>
					</div>
					<hr class="shout_hr" />
					<div id="info_del" name="info" class="centered {% if SOUND_DEL_DISP %}displayblock{% else %}no_display{% endif %}">
						<span class="shout_display_green">{{ lang('CHOOSE_DELETE_YES') }}: </span><strong>&ldquo;<span id="sound_del">{{ USER_SOUND_INFO_D }}</span>&rdquo;</strong>
					</div>
					<div id="info_no_del" name="info_no" class="centered {% if SOUND_DEL_DISP %}no_display{% else %}displayblock{% endif %}" >
						<span class="shout_display_red">{{ lang('CHOOSE_DELETE_NO') }}</span>
					</div>
					<hr class="shout_hr" />
					<div id="info_add" name="info" class="centered {% if SOUND_ADD_DISP %}displayblock{% else %}no_display{% endif %}">
						<span class="shout_display_green">{{ lang('CHOOSE_ADD_YES') }}: </span><strong>&ldquo;<span id="sound_add">{{ USER_SOUND_INFO_A }}</span>&rdquo;</strong>
					</div>
					<div id="info_no_add" name="info_no" class="centered {% if SOUND_ADD_DISP %}no_display{% else %}displayblock{% endif %}">
						<span class="shout_display_red">{{ lang('CHOOSE_ADD_NO') }}</span>
					</div>
					<hr class="shout_hr" />
					<div id="info_edit" name="info" class="centered {% if SOUND_EDIT_DISP %}displayblock{% else %}no_display{% endif %}">
						<span class="shout_display_green">{{ lang('CHOOSE_EDIT_YES') }}: </span><strong>&ldquo;<span id="sound_edit">{{ USER_SOUND_INFO_ED }}</span>&rdquo;</strong>
					</div>
					<div id="info_no_edit" name="info_no" class="centered {% if SOUND_EDIT_DISP %}no_display{% else %}displayblock{% endif %}">
						<span class="shout_display_red">{{ lang('CHOOSE_EDIT_NO') }}</span>
					</div>
					<hr class="shout_hr" /><br />
					
					<dl class="shout_dl_bloc">
						<dt><label>{{ lang('CHOOSE_NEW_SOUND') }}</label><br />{{ lang('DISPLAY_SOUND_CHOICE') }}</dt>
						<dd class="ddconfig_shout">
							<label><input id="user_sound_no" type="radio" name="user_sound" value="0"{% if not USER_SOUND_YES %} checked="checked"{% endif %} /> {{ lang('SHOUT_SOUND_NO') }}</label><br /><br />
							<span>{{ NEW_SOUND }}</span>
							{% if S_PRIVATE %}
							<br /><br />
							<span>{{ NEW_SOUND_PRIV }}</span>
							{% endif %}
						</dd>
						<dd class="no_border">
							<label><input id="user_sound_yes" type="radio" name="user_sound" value="1"{% if USER_SOUND_YES %} checked="checked"{% endif %} /> {{ lang('SHOUT_SOUND_YES') }}</label><br /><br />
							<label>{{ lang('SHOUT_PRINCIPAL') }}:</label>
							{% if S_PRIVATE %}
							<br /><br />
							<label>{{ lang('SHOUT_PRIVATE') }}:</label>
							{% endif %}
						</dd>
						
					</dl>

					<dl class="shout_dl_bloc">
						<dt><label>{{ lang('CHOOSE_ERROR_SOUND') }}</label></dt>
						<dd class="ddconfig_shout">{{ ERROR_SOUND }}</dd>
					</dl>
					
					<dl class="shout_dl_bloc">
						<dt><label>{{ lang('CHOOSE_DEL_SOUND') }}</label></dt>
						<dd class="ddconfig_shout">{{ DEL_SOUND }}</dd>
					</dl>
					
					<dl class="shout_dl_bloc">
						<dt><label>{{ lang('CHOOSE_ADD_SOUND') }}</label></dt>
						<dd class="ddconfig_shout">{{ ADD_SOUND }}</dd>
					</dl>
					
					<dl class="shout_dl_bloc">
						<dt><label>{{ lang('CHOOSE_EDIT_SOUND') }}</label></dt>
						<dd class="ddconfig_shout">{{ EDIT_SOUND }}</dd>
					</dl>
					
					<div class="shout_bloc_div">
						<h3>{{ lang('SHOUT_DEFIL') }}</h3><br />
						<dl class="shout_dl_bloc">
							<dt><label for="shout_defil">{{ lang('SHOUT_DEFIL') }}</label><br />{{ lang('SHOUT_DEFIL_EXPLAIN') }}</dt>
							<dd class="ddconfig_shout"><label><input type="radio" name="shout_defil" value="0"{% if not SHOUT_DEFIL %} checked="checked" id="shout_defil"{% endif %} /> {{ lang('SHOUT_DEFIL_BOTTOM') }}</label></dd>
							<dd class="ddconfig_shout ddsecond_shout"><label><input type="radio" name="shout_defil" value="1"{% if SHOUT_DEFIL %} checked="checked" id="shout_defil"{% endif %} /> {{ lang('SHOUT_DEFIL_TOP') }}</label></dd>
						</dl>
					</div>

					<div class="shout_bloc_div">
						<h3>{{ lang('ACP_SHOUT_CONFIGS_T') }}</h3><br />
						
						<dl class="shout_dl_bloc">
							<dt><label for="dateformat">{{ lang('BOARD_DATE_FORMAT') }}:</label><br /><span>{{ lang('BOARD_DATE_FORMAT_EXPLAIN') }}</span></dt>
							<dd id="custom_date"></dd>
							<dd>
								<select id="dateoptions" name="dateoptions" onchange="configs.changeDateFormat(this.options[this.selectedIndex].value);configs.playSoundUser('1');">{{ S_DATEFORMAT_OPTIONS }}</select>
								<input type="text" name="dateformat" id="dateformat" value="{{ DATE_FORMAT }}" onblur="configs.changeDateFormat(this.value)" onkeyup="configs.changeDateFormat(this.value)" maxlength="30" class="inputbox narrow" style="margin-top:3px;width:auto;" />
								<br /><span id="datexemple">{{ DATE_FORMAT_EX }}</span><br /><span id="datexemple2">{{ DATE_FORMAT_EX2 }}</span>
							</dd>
						</dl>
						
						<dl class="shout_dl_bloc">
							<dt><label>{{ lang('SHOUT_BAR') }}</label><br />{{ lang('SHOUT_USER_CONFIG') }}</dt>
							<dd class="ddconfig_shout"><label><input type="radio" name="shout_bar" value="0"{% if not SHOUT_BAR %} checked="checked"{% endif %} /> {{ lang('SHOUT_BAR_BOTTOM') }}</label></dd>
							<dd class="ddconfig_shout ddsecond_shout"><label><input type="radio" name="shout_bar" value="1"{% if SHOUT_BAR %} checked="checked"{% endif %} /> {{ lang('SHOUT_BAR_TOP') }}</label></dd>
						</dl>
						<dl class="shout_dl_bloc">
							<dt><label>{{ lang('SHOUT_PAGIN') }}</label><br />{{ lang('SHOUT_USER_PAGIN') }}</dt>
							<dd class="ddconfig_shout"><label><input type="radio" name="shout_pagin" value="1"{% if SHOUT_PAGIN %} checked="checked"{% endif %} /> {{ lang('SHOUT_PAGIN_IN') }}</label></dd>
							<dd class="no_border"><label><input type="radio" name="shout_pagin" value="0"{% if not SHOUT_PAGIN %} checked="checked"{% endif %} /> {{ lang('SHOUT_BAR_BOTTOM') }}</label></dd>
						</dl>
					</div>
				{% if S_POP %}
					<div class="shout_bloc_div">
						<h3>{{ lang('ACP_SHOUT_POPUP') }}</h3><br />
						<dl class="shout_dl_bloc">
							<dt><label>{{ lang('SHOUT_BAR') }}</label><br />{{ lang('SHOUT_USER_CONFIG') }}</dt>
							<dd class="no_border margin_15"><label><input type="radio" name="shout_bar_pop" value="0"{% if not SHOUT_BAR_POP %} checked="checked"{% endif %} /> {{ lang('SHOUT_BAR_BOTTOM') }}</label></dd>
							<dd class="no_border"><label><input type="radio" name="shout_bar_pop" value="1"{% if SHOUT_BAR_POP %} checked="checked"{% endif %} /> {{ lang('SHOUT_BAR_TOP') }}</label></dd>
						</dl>
						<dl class="shout_dl_bloc">
							<dt><label>{{ lang('SHOUT_PAGIN') }}</label><br />{{ lang('SHOUT_USER_PAGIN') }}</dt>
							<dd class="no_border margin_15"><label><input type="radio" name="shout_pagin_pop" value="1"{% if SHOUT_PAGIN_POP %} checked="checked"{% endif %} /> {{ lang('SHOUT_PAGIN_IN') }}</label></dd>
							<dd class="no_border"><label><input type="radio" name="shout_pagin_pop" value="0"{% if not SHOUT_PAGIN_POP %} checked="checked"{% endif %} /> {{ lang('SHOUT_BAR_BOTTOM') }}</label></dd>
						</dl>
					</div>
				{% endif %}
				{% if S_PRIVATE %}
					<div class="shout_bloc_div">
						<h3>{{ lang('ACP_SHOUT_CONFIG_PRIV') }}</h3><br />
						<dl class="shout_dl_bloc">
							<dt><label>{{ lang('SHOUT_BAR') }}</label><br />{{ lang('SHOUT_USER_CONFIG') }}</dt>
							<dd class="no_border margin_15"><label><input type="radio" name="shout_bar_priv" value="0"{% if not SHOUT_BAR_PRIV %} checked="checked"{% endif %} /> {{ lang('SHOUT_BAR_BOTTOM') }}</label></dd>
							<dd class="no_border"><label><input type="radio" name="shout_bar_priv" value="1"{% if SHOUT_BAR_PRIV %} checked="checked"{% endif %} /> {{ lang('SHOUT_BAR_TOP') }}</label></dd>
						</dl>
						<dl class="shout_dl_bloc">
							<dt><label>{{ lang('SHOUT_PAGIN') }}</label><br />{{ lang('SHOUT_USER_PAGIN') }}</dt>
							<dd class="no_border margin_15"><label><input type="radio" name="shout_pagin_priv" value="1"{% if SHOUT_PAGIN_PRIV %} checked="checked"{% endif %} /> {{ lang('SHOUT_PAGIN_IN') }}</label></dd>
							<dd class="no_border"><label><input type="radio" name="shout_pagin_priv" value="0"{% if not SHOUT_PAGIN_PRIV %} checked="checked"{% endif %} /> {{ lang('SHOUT_BAR_BOTTOM') }}</label></dd>
						</dl>
					</div>
				{% endif %}
					<div class="shout_bloc_div">
						<h3>{{ lang('CHOOSE_POSITIONS') }}</h3><br />
						<dl class="shout_dl_bloc">
							<dt><label for="pos_index">{{ lang('SHOUT_POSITION_INDEX') }}:</label><br />{{ lang('SHOUT_POSITION_INDEX_EXPLAIN') }}</dt>
							<dd class="no_border">
								<select id="position_index" name="position_index" title="{{ TITLE_ON_INDEX }}" onchange="configs.updatePos(this.id,this.options[selectedIndex].title,this.options[selectedIndex].value);configs.playSoundUser('1');">
									{{ SELECT_ON_INDEX }}
								</select>
							</dd>
						</dl>
						<dl class="shout_dl_bloc">
							<dt><label for="pos_forum">{{ lang('SHOUT_POSITION_FORUM') }}:</label><br />{{ lang('SHOUT_POSITION_FORUM_EXPLAIN') }}</dt>
							<dd class="no_border">
								<select id="position_forum" name="position_forum" title="{{ TITLE_ON_FORUM }}" onchange="configs.updatePos(this.id,this.options[selectedIndex].title,this.options[selectedIndex].value);configs.playSoundUser('1');">
									{{ SELECT_ON_FORUM }}
								</select>
							</dd>
						</dl>
						<dl class="shout_dl_bloc">
							<dt><label for="pos_topic">{{ lang('SHOUT_POSITION_TOPIC') }}:</label><br />{{ lang('SHOUT_POSITION_TOPIC_EXPLAIN') }}</dt>
							<dd class="no_border">
								<select id="position_topic" name="position_topic" title="{{ TITLE_ON_TOPIC }}" onchange="configs.updatePos(this.id,this.options[selectedIndex].title,this.options[selectedIndex].value);configs.playSoundUser('1');">
									{{ SELECT_ON_TOPIC }}
								</select>
							</dd>
						</dl>
					</div>
					<div class="shout_bloc_div">
						<h3>{{ lang('SHOUT_PANEL') }}</h3><br />
						<dl class="shout_dl_bloc">
							<dt><label>{{ lang('SHOUT_PANEL') }}</label><br />{{ lang('SHOUT_PANEL_CHOICE') }}</dt>
							<dd class="no_border margin_15 large"><label><input type="radio" name="shout_panel" value="0"{% if not SHOUT_PANEL %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
							<dd class="no_border margin_15 large"><label><input type="radio" name="shout_panel" value="1"{% if SHOUT_PANEL %} checked="checked"{% endif %} /> {{ lang('YES') }}</label></dd>
						</dl>
					</div>
					<hr />
					<div class="shout-submit">
						<input id="onSound" type="hidden" value="0" />
						<input class="button" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" title="{{ lang('SUBMIT') }}" />&nbsp;
						<input class="button" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" title="{{ lang('RESET') }}" />&nbsp;
						<input class="button" type="submit" id="retour" name="retour" value="{{ lang('SHOUT_DEF_VAL') }}" title="{{ lang('SHOUT_DEF_VAL_EXPLAIN') }}" />
					</div>
					<hr />
					<div id="copy_shout"><em>{{ SHOUTBOX_VERSION }}</em></div>
				</div>
				</form>
			</li>
		</ul>
		
	</div>
</div>
<script>
	window.onunload = function(){
		setTimeout(window.opener.location.reload(true), 2000);
	}
</script>
{% INCLUDE 'simple_footer.html' %}