<ul id="shout_online" class="topiclist forums">
	<li>
		<div id="onTextOnline"></div>
		<h3 class="h3_online">{{ lang('SHOUT_ONLINE_TITLE') }}</h3>
		<img class="img_shout_close" src="{{ SHOUT_EXT_PATH }}images/shout_no.png" alt="{{ lang('SHOUT_ONLINE_CLOSE') }}" title="{{ lang('SHOUT_ONLINE_CLOSE') }}" onclick="shoutbox.openCloseOnline();return false;" onmouseout="shoutbox.iH('onTextOnline','',false);" onmouseover="shoutbox.iH('onTextOnline',this.title,false);">
		<div id="online_shout"></div>
	</li>
</ul>
