<ul id="smilies_ul" class="topiclist forums">
	<li>
		<div id="onTextSmilies">{{ lang('SMILIES') }}</div>
		<hr class="dotted">
		<img class="img_shout_close" src="{{ SHOUT_EXT_PATH }}images/shout_no.png" alt="{{ lang('SMILIES_CLOSE') }}" title="{{ lang('SMILIES_CLOSE') }}" onclick="shoutbox.openCloseSmilies();return false;" onmouseout="shoutbox.iH('onTextSmilies','{{ lang('SMILIES') }}',false);" onmouseover="shoutbox.iH('onTextSmilies',this.title,false);">
	</li>
	<li>
		<div id="smilies"></div>
	</li>
</ul>
